/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.mainpage {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
		font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.filters {
	display: flex;
    justify-content: center;
}
.filters > button {
	font-family: 'Syne';
    min-width: 100px;
    font-weight: 700;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #1D6154;
    background-color: white;
    border: 1px solid #1D6154;
    border-radius: 60px;
    text-align: center;
    padding: 10px;
	cursor: pointer;
}

/* Page login */

#loginpage {
	max-height: 1000px;
}
#bglogin {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#boxlogin {
	background-color: white;
	width: 20%;
	left: 50%;
    transform: translate(-50%, 0);
	transition: 0.3s;
	padding: 100px;
	border-radius: 15px;
	position: absolute;
}
#logininput {
	display: none;
	z-index: 1;
}
#logininput.active {
	display: block;
}
.email-container, .password-container {
	margin: 50px 0 50px 0;
}
input {
	width: 100%;
	height: 51px;
	box-shadow: 5px 5px 20px rgb(234, 233, 233);
	border: none;
}
Label {
	text-align: left;
}
input[type="submit"], #login, #connect {
	display: flex;
	justify-content: center;
	cursor: pointer;
}
#mentions {
	margin-top: 300px;
}
#incorrect {
	color: red;
	padding: 5px;
	margin-bottom : 10px;
	visibility: hidden;
}
#adminbar {
	visibility: hidden;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -80px;
	font-family: 'Work Sans';
	font-size: 14px;
}
#adminbar p {
	margin-block: 10px;
	margin-right: 10px;
}
#adminbar i {
	margin-block: 10px;
	margin-right: 10px;
}
#adminbar button {
	border-radius: 15px;
	padding: 5px 15px 5px 15px;
	font-family: 'Work Sans';
}
.projets {
	display: flex;
	justify-content: center;
	margin-left: 80px;
}
#modifier1 {
	display: flex;
	padding-left: 13px;
    padding-top: 10px;
	visibility: hidden;
	cursor: pointer;
}
#modifier2 {
	display: flex;
	padding-left: 13px;
    padding-top: 10px;
	margin-left: 50px;
	width: 15%;
	visibility: hidden;
	cursor: pointer;
}

/* page edition */

#bgedit {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#galleryedit {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 40%;
	left: 50%;
    transform: translate(-50%, 0);
	transition: 0.3s;
	padding: 100px;
	border-radius: 15px;
	position: absolute;
}
#closeedit {
	position: absolute;
	right: 20px;
    top: 20px;
	cursor: pointer;
}
#galleryedit h2 {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: black;
	justify-content: center;
	margin-bottom: 50px;
}
#galleryborder {
	margin-top: 20px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.309);;
}
.edition {
	display: none;
	z-index: 1;
}
.edition.active {
	display: block;
}
.works {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.works img {
	width: 100%;
}
.deletework {
	position: absolute;
}
.deletework i {
    position: absolute;
	bottom: 130px;
    left: 90px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
}
/* .moveimg {
	position: absolute;
	visibility: hidden;
} */
/* .editimg:hover .moveimg {
	/* position: absolute; */
	/* visibility: visible; */

/* } */
#movework {
    position: absolute;
}
#movework i {
	bottom: 130px;
    left: 60px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
	visibility: hidden;
}
#movework i.active {
	visibility: visible;
}